.ctaSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
}

.container {
  width: 100%;
}

.headingColumn {
  flex: 1;
}

.mainTitle {
  font-weight: 700;
  line-height: 1;
  color: var(--color-white);
  margin: 0;
}

.textColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
  margin: 0;
}

.actions {
  display: flex;
}

.button {
  border-radius: 12px;
  padding: 10px 24px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #007bb4;
}

@media all and (min-width: 1441px) {
  .container {
    max-width: 1200px;
  }
}

@media all and (min-width: 901px) {
  .ctaSection {
    padding: 112px 80px;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
  }
  .textColumn {
    gap: 32px;
  }
}

@media all and (max-width: 900px) {
  .ctaSection {
    padding: 64px 20px;
  }
  .textColumn {
    gap: 24px;
  }
  .headingColumn h2 {
    margin-bottom: 20px;
  }
}

@media all and (min-width: 601px) {
  .mainTitle {
    font-size: 48px;
  }
}

@media all and (max-width: 600px) {
  .mainTitle {
    font-size: 36px;
  }
}
