.categoryCard,
.ctaCard {
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.categoryCard {
  background-color: var(--color-light-gray);
  gap: 15px;
}

.categoryTitle {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  line-height: 150%;
  color: var(--color-black);
  margin: 0;
}

.categoryLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.categoryLinks button {
  background-color: transparent;
}

.link,
.activeLink {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  line-height: 150%;
  color: var(--color-black);
  text-decoration: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.link:hover {
  color: var(--color-primary);
}

.activeLink {
  color: var(--color-primary);
  font-weight: 700;
}

.ctaCard {
  background-color: var(--color-secondary);
  gap: 15px;
}

.ctaTitle {
  font-size: 24px;
  font-family: "Saira", sans-serif;
  letter-spacing: -0.01em;
  line-height: 110%;
  color: var(--color-white);
  margin: 0;
}

.ctaButton {
  border-radius: 12px;
  padding: 10px 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-primary);
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  line-height: 150%;
  cursor: pointer;
  text-transform: uppercase;
}

@media all and (min-width: 1200px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}

@media all and (max-width: 1199px) {
  .categoryCard {
    margin-bottom: 40px;
  }

  .ctaCard {
    margin-bottom: 48px;
  }
}

@media all and (min-width: 901px) {
  .categoryCard,
  .ctaCard {
    padding: 30px 40px;
  }

  .link,
  .activeLink {
    font-size: 18px;
  }
}

@media all and (max-width: 900px) {
  .categoryCard {
    padding: 20px 30px;
  }

  .ctaCard {
    padding: 30px 40px;
  }

  .link,
  .activeLink {
    font-size: 16px;
  }
}
