.headerSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  background-color: #e5f4fb; /* Light blue background from your design */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  background-color: #e5f4fb;
}

.mainTitle {
  text-align: center;
  font-family: "Saira", sans-serif;
  letter-spacing: -1%;
  line-height: 100%;
  color: #000000;
  margin: 0; /* Remove default margin */
  text-transform: uppercase; /* Match the design image */
}

.subtitle {
  text-align: center;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  line-height: 150%;
  color: #000000;
  margin: 0; /* Remove default margin */
}

@media all and (min-width: 901px) {
  .headerSection .contentWrapper {
    max-width: 800px;
  }

  .headerSection {
    padding: 112px 64px;
  }

  .mainTitle {
    font-size: 48px;
  }
}

@media all and (max-width: 900px) {
  .headerSection {
    padding: 64px 20px;
  }
  .mainTitle {
    font-size: 40px;
  }
}

@media all and (min-width: 601px) {
}

@media all and (max-width: 600px) {
}
